<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gduf.clock.dao.MemberInfoMapper">
  <resultMap id="BaseResultMap" type="com.gduf.clock.entity.MemberInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="insist_day" jdbcType="INTEGER" property="insistDay" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
</mapper>